
<div class="">
    <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900">Trial: Win Rate</h5>
    <div class="flex flex-col items-center justify-center">
        <span class="text-4xl font-bold text-gray-900">9.86%</span>
        <span class="flex items-center mt-2 text-lg font-medium text-green-600">
            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13V1m0 0L1 5m4-4 4 4"/>
            </svg>
            25%
        </span>
        <span class="mt-1 text-sm text-gray-500">vs previous 30 days</span>
    </div>
</div>